body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

#game_container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#main_canvas{
    display: block;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

}

@media (min-width: 768px) {
    #game_container {
        width: 33vw;
    }
}