body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_container {
    height: 100vh;
    width: 33vw;
    background: #000;
    overflow: hidden;
}

#main_canvas{
    width:100%;
    height:100%;
    display: block;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;

}
